# --- Go ---
/bin/
/pkg/
/dist/
/coverage.out

# --- Node / Next.js ---
node_modules/
.next/
dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*

# --- Docker ---
*.log
**/Dockerfile*
docker-compose*.yml

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
